.matcard {
    margin: 1rem;
    height: 600px;
}

.form-margin {
    margin: 1rem;
}

label {
    margin: 10px 0px;
}

.error-message {
    margin-top: 10px;
    color: red;
    font-size: 10px;
}

  
.btnCancel, .btnSave {
    margin:1em;
    border: none;
    cursor: pointer;
    float: right;
}
  