<div [ngClass]="status ? 'open sidebar' : 'sidebar'" class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-bitcoin icon'></i>
        <div class="logo_name">Smart Contract</div>
        <i class='bx bx-menu' id="btn" (click)="toggleButton()"></i>
    </div>
    <ul class="nav-list">
        <li>
            <a routerLink="/dashboard" routerLinkActive="active-link">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-user'></i>
                <span class="links_name">Active Tenders</span>
            </a>
            <span class="tooltip">Active Tenders</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-chat'></i>
                <span class="links_name">Tenders</span>
            </a>
            <span class="tooltip">Tenders</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-wallet-alt'></i>
                    <span class="links_name">Connect Wallet</span>
            </a>
            <span class="tooltip">Connect Wallet</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-folder'></i>
                <span class="links_name">Bids</span>
            </a>
            <span class="tooltip">Bids</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-cart-alt'></i>
                <span class="links_name">Projects</span>
            </a>
            <span class="tooltip">Projects</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-heart'></i>
                <span class="links_name">Saved</span>
            </a>
            <span class="tooltip">Saved</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-cog'></i>
                <span class="links_name">Setting</span>
            </a>
            <span class="tooltip">Setting</span>
        </li>
        <li class="profile">
            <div class="profile-details">
                <!--<img src="profile.jpg" alt="profileImg">-->
                <div class="name_job">
                    <div class="name">Account number</div>
                    <div class="job">121212121 </div>
                </div>
            </div>
            <i class='bx bx-log-out' id="log_out"></i>
        </li>
    </ul>
</div>
<section class="home-section">
    <nav class="navbar navbar-light"  style="background-color: #11101D; height: 4rem;">
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown">
                      <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle" style="color: white;">
                      <span class="d-none d-md-block dropdown-toggle ps-2" style="color: white;">K. Anderson</span>
                    </a><!-- End Profile Iamge Icon -->
          
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                      <li class="dropdown-header">
                        <h6>Kevin Anderson</h6>
                        <span>Web Designer</span>
                      </li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
          
                      <li>
                        <a class="dropdown-item d-flex align-items-center">
                          <i class="bi bi-person"></i>
                          <span>My Profile</span>
                        </a>
                      </li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
          
                      <li>
                        <a class="dropdown-item d-flex align-items-center">
                          <i class="bi bi-gear"></i>
                          <span>Connect to Metamask</span>
                        </a>
                      </li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
          
                      <li>
                        <a class="dropdown-item d-flex align-items-center">
                          <i class="bi bi-box-arrow-right"></i>
                          <span>Sign Out</span>
                        </a>
                      </li>
          
                    </ul><!-- End Profile Dropdown Items -->
                  </li><!-- End Profile Nav -->
            </ul>
        </nav>  
    </nav>
    <mat-card class="matcard">
        <mat-card-content>Simple card</mat-card-content>
    </mat-card>
</section>