<div class="register">
  <div class="container">
    <div class="row">
      <div class="register-right">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  
              <div class="row register-form">
                <div class="logo">
                  <img src="../../assets/images/smart-bidding-low-resolution-color-logo.png" alt="smart bidding" width="200px" height="100px"/>
                </div>
                <div class="col-md-6 label">
                  <label for="userDetails">USER DETAILS</label>
  
                  <div class="form-group">
                    <input type="text" formControlName="userDetails"
                    [ngClass]="{'is-invalid':userDetails?.errors && userDetails?.touched}"
                    class="form-control" placeholder="User Name"
                      value="" />
                    <div class="error-message"
                      *ngIf="!userDetails?.valid && userDetails?.touched">
                      <div [hidden]="!userDetails?.errors?.['required']">
                        User Name is required
                      </div>
                      <div [hidden]="!userDetails?.errors?.['minlength']">
                        Minimum  Length is 3
                      </div>
                    </div>
                  </div>
  
                  <label for="password">PASSWORD</label>
  
  
                  <div class="form-group">
                    <input type="password" formControlName="password" 
                    [ngClass]="{'is-invalid':password?.errors && password?.touched}"
                    class="form-control" placeholder="Password"
                      value="" />
                      <div class="error-message"
                      *ngIf="!password?.valid && password?.touched">
                      <div [hidden]="!password?.errors?.['required']">
                          Password  is required
                      </div>
                      <div [hidden]="!password?.errors?.['pattern']">
                        Password should be atleast 8 character with lowercase , uppercase , number and special character
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" formControlName="confirmPassword" class="form-control"
                    [ngClass]="{'is-invalid':confirmPassword?.errors && confirmPassword?.touched}"
                      placeholder="Confirm Password" value="" />
                      <div class="error-message"
                      *ngIf="!confirmPassword?.valid && confirmPassword?.touched">
                      <div [hidden]="!confirmPassword?.errors?.['required']">
                          Password  is required
                      </div>
                      <div [hidden]="!confirmPassword?.errors?.['pattern']">
                        Password should be 8 character with lowercase , uppercase , number and special character
                      </div>
                      <div [hidden]="!confirmPassword?.errors?.['passwordMismatch']">
                          Password doesn't match
                        </div>
                    </div>
                  </div>
  
                </div>
                <div class="col-md-6 label">
                  <label for="connectWallet">CONNECT WALLET</label>
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <input type="text"  formControlName="walletId" 
                      [ngClass]="{'is-invalid':walletId?.errors && walletId?.touched}"
                      class="form-control input-disabled" placeholder="Eth Address"
                      value="">
                      <button class="btn btn-outline-secondary connect-to-wallet" 
                        (click)="getAddress()"
                        type="button"
                        title="connect to wallet"> 
                        <i class='bx bx-wallet-alt'></i>
                      </button>
                      <div class="error-message"
                      *ngIf="!walletId?.valid && walletId?.touched">
                      <div [hidden]="!walletId?.errors?.['required']">
                          Wallet address is required
                      </div>
                      <div [hidden]="!walletId?.errors?.['pattern']">
                        Wallet address  should be valid
                      </div>
                      </div>
                    </div>
                  </div>
                  <label for="employeeDetails">CONTACT DETAILS</label>
                  <div class="form-group">
                    <input type="email" formControlName="email"
                    [ngClass]="{'is-invalid':email?.errors && email?.touched}"
                     class="form-control" placeholder="Email Address"
                      value="" />
                      <div class="error-message"
                      *ngIf="!email?.valid && email?.touched">
                      <div [hidden]="!email?.errors?.['required']">
                          Email is required
                      </div>
                      <div [hidden]="!email?.errors?.['pattern']">
                        Email should be valid
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" formControlName="contact" 
                    [ngClass]="{'is-invalid':contact?.errors && contact?.touched}"
                    name="txtEmpPhone"
                      class="form-control" placeholder="Contact Number" value="" />
                      <div class="error-message"
                      *ngIf="!contact?.valid && contact?.['touched']">
                      <div [hidden]="!contact?.errors?.['required']">
                          Contact number is required
                      </div>
                      <div [hidden]="!contact?.errors?.['pattern']">
                        Contact number should be valid
                      </div>
                    </div>
                  </div>
                </div>
                <div class="logo">
                  <input type="submit" [disabled]="registerForm.invalid"  class="btn btnRegister" value="Register" />
                </div>
                <div class="login-text">Already a member!!! <a class="login-link" routerLink="/login">Login</a></div>
              </div>
              
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
    
</div>